  <div style="text-align: left">
  <p>{{ error }}</p>
  <p><img ng-hide="!user" ng-src='http://www.gravatar.com/avatar/{{ user.gravatar_id }}' title="{{ person.firstName }} {{ person.lastName }}" /></p>
Order:
<select ng-model="repoSortOrder">
  <option value="+name">Name</option>
  <option value="-stargazers_count">Stars</option>
  <option value="+language">Language</option>
</select>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
    <td><a href="#repo/{{ user.name | lowercase}}/{{ repo.name | lowercase}}">{{ repo.name }}</a></td>
    <td>{{ repo.stargazers_count | number}}</td>
    <td>{{ repo.language }}</td>
  </tr>
</table>
<br />
<a href="#main">Back to Search</a>

</div>